* {
	font-family: 'Roboto', sans-serif;
}

h1 {
	padding: 100px 0 100px 0;

	color: #ED2D00;

	text-align: center;
	font-size: 7em;

	font-weight: 100;
}

header {
	color: #ED2D00;
	background: #FFFFFF;
}

.logo {
	padding: 10px 0;

	font-size: 2em;
	font-weight: 600;

	width: 50%;

	display: flex;
	align-items: center;

	float: left;
}

.nav {
	margin-top: 10px;
	font-weight: 500;
}

.content-area {
	box-shadow: 8px 8px rgba(0, 0, 0, 0.2);

	min-height: 150px;

	display: flex;
	align-items: center;
}

.content-box {
	box-shadow: 4px 4px rgba(0, 0, 0, 0.2);

	min-height: 100px;

	display: flex;
	align-items: center;
}

.content {
	margin: 10px;
	padding: 20px;

	color: #ED2D00;
	background: rgba(255,255,255,0.7);

	border-radius: 2px;

	font-size: 1.1em;
	font-weight: 500;
}

.big {
	font-size: 100px;
}

.red {
	color: #ED2D00;
}

.red li a {
	color: #ED2D00;
}

.center {
	text-align: center;
}

.circle {
	margin: auto;
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

.b-icon {
	margin: 0 10px 0 0;
	padding: 10px;
	width: 40px;
	height: 40px;
	border-radius: 10px;
	border: 1px solid #ED2D00;
	background: #FFFFFF;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

/********************************************
* Footer Styles
********************************************/
footer {
	background-color: #FFFFFF;
	color: #ED2D00;
	padding: 30px 0 30px 0;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html {
	display: flex;
}

body {
	width: 100%;
}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	box-shadow: inset 2px 0 rgba(0,0,0,0.1);
}

.sfooter-content {
	padding: 0 0 50px 0;

	flex: 1 0 auto;

	background: url(../images/bg.jpg) no-repeat center center fixed;

	background-size: cover;
}

.footer-content {
	font-size: 1.5em;
}